/* Base Styles */
/* Hint: html element selectors: html, body, p, h2, etc. */
/* Flexbox grid CSS modified from http://www.sitepoint.com/easy-responsive-css-grid-layouts/ */

body {
  font-size: $embase; /*18px/16px Starting with base of 1.2em off of minor third scale*/
  font-weight: 600;
  font-family: $font-stackbody;
  color: $textcolour;
  line-height: 1.4400000000000002em; /* 25.92px/18px - Next step up in modular scale */
  padding-top: 1.4400000000000002em; /* 25.92px/18px - Next step up in modular scale */
  padding-left: 0.8333333333333334em; 
  padding-right: 0.694em;
  text-align:left;
  opacity:.8;
  height:100%;
  background: $backgroundcolour;
  padding-bottom:15em;
  overflow:auto;
}

img {
	display:block;
	max-width:100%;
	border-radius: 50%;	
}
img2 {
	display:block;
	max-width:600px;
	padding-bottom:1em;
	/*border-radius: 50%;	*/
}
.img3 {
	display:block;
	max-width:600px;
	border-radius: 9%;	
	margin-bottom:1em;
}

h2{
  font-size:1.4em; /* Two steps up in modular scale*/
  font-family: $font-stackalt;
  line-height: 1.43999999999em; 
  padding-top: 0.8333333333333334em; 
  padding-bottom: 1.4400000000000002em;
  color:$altyellow;
  }
a{
  color:$highlight;
}
a:hover {
  color:$headerblack;
}
a.fill-div{
  display:block;
  height:100%;
  width:100%;
  text-decoration:none;
}
li{
display:list-item;
font-weight: 700;
}
li::before{
	content:">";
	position: relative;
    bottom: 0.2px;
    margin-right: 20px;
    color:$altyellow;
    font-size: 12px;
}
p{
padding-top:1em;
padding-bottom:1em;
}