/* Flexbox grid CSS modified from http://www.sitepoint.com/easy-responsive-css-grid-layouts/ */
@font-face {
font-family: 'Slabo 27px', serif;
font-style: normal;
}
html{
background: linear-gradient( 45deg, #5b4f6a, #54606a );
}
body {
  background: linear-gradient( 45deg, #5b4f6a, #54606a );
  font-family: 'Slabo 27px', serif;
  font-size: 1.2em; /*18px/16px Starting with base of 1.2em off of minor third scale*/
  font-weight: 700;
  color: #fff;
  line-height: 1.4400000000000002em; /* 25.92px/18px - Next step up in modular scale */
  padding-top: 1.4400000000000002em; /* 25.92px/18px - Next step up in modular scale */
  padding-left: 0.8333333333333334em; 
  padding-right: 0.694em;
  text-align:left;
  opacity:.8;
}

img {
	display:block;
	max-width:100%;
	border-radius: 50%;	
}

h2{
  font-size:1.728em; /* Two steps up in modular scale*/
  line-height: 1.43999999999em; /* Font size divided by 83.3333333 (which is 5/6) - headers looked really weird with 120-145% size (as recommended 
here: http://practicaltypography.com/summary-of-key-rules.html  */
  padding-top: 0.8333333333333334em; 
  padding-bottom: 1.4400000000000002em;
  font-family: 'Open Sans', sans-serif;
  color:#ffed7f;
  }
a{
  color:black;
}
a:hover {
  color:#ffed7f;
}
li{
display:list-item;
font-weight: 700;
}
li::before{
	content:">";
	position: relative;
    bottom: 0.2ex;
    margin-right: 20px;
    color:#ffed7f;
    font-size: 12px;
}