/* Layout Styles */
/* Hint: ID selectors: #header, #navigation, #footer, etc. */


#navbar{
	position: fixed;
	top:1.4400000000000002em;
	left:0.8333333333333334em;
	z-index:99999999;
	font-family: $font-stackbody;
	font-size: $embase;
}

