/* Layout Styles */
/* Hint: ID selectors: #header, #navigation, #footer, etc. */

$font-stackbody: 'Slabo 27px', serif;
$font-stackalt: 'Open Sans', sans-serif;
$backgroundcolour: linear-gradient( 45deg, #5b4f6a, #54606a );
$textcolour: #fff;
$altyellow: #ffed7f;
$highlight:#87cefa;

#navbar{
	position: fixed;
	top:1.4400000000000002em;
	left:0.8333333333333334em;
	z-index:99999999;
	$font-family: $font-stackalt;
}

