/* State Styles */
/* Hint: JavaScript-based styles: .nojs, .js, .is-active, .is-hidden */
/* Within state, repeat the base, layout, and modular structure: */

[class*="nav"]{
	border-bottom: 1px solid rgba(192, 192, 192, 0);
	-webkit-transition: border 500ms ease;
	-moz-transition: border 500ms ease;
	-ms-transition: border 500ms ease;
	-o-transition: border 500ms ease;
	transition: border 500ms ease; 
}
.nav1:hover{
		border-bottom: 1px solid rgba(192, 192, 192, 1);
}
.nav2:hover{
		border-bottom: 1px solid rgba(192, 192, 192, 1);
}
.nav3:hover{
		border-bottom: 1px solid rgba(192, 192, 192, 1);
}
.nav4:hover{
		border-bottom: 1px solid rgba(192, 192, 192, 1);
}
