/* Media Query Styles */
/* Media Queries Begin */


@media all and (min-width: 1em) {

.wrapper{
  padding:0em;
  }
.portfoliowrapper{
   display: -webkit-flex;
   display: flex;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   -webkit-align-content: flex-end;
   align-content: flex-end;
   -webkit-height:100%;
}
[class*="col-"] {
  padding: 0em;
 }
img{
	margin-top:4em;
	width:80%;
}
#navbar{
	font-size:0.4em;
}
.portfolioline{
	display: flex;
	flex-flow: row wrap;
	margin-left: 2.4em;
	width:80%;
	margin-bottom: 2.4em;
	border-style: solid;
}

.portfolioline:hover{
  color:$altyellow;
  z-index: 1000;
}
.row1 {
	display: flex;
	flex-flow: row wrap;
	margin-left: 2.4em;
  }
.row2:last-child{
	@extend .row1;
}
.row3:last-child{
	@extend .row1;
}
.row4:last-child{
	display: flex;
	flex-flow: row wrap;
	margin-left: $embase;
}
.img2 {
	display:block;
	max-width:600px;
	border-radius: 9%;	
}
}


@media all and (min-width: 30em) {
.wrapper {
  margin: 0 auto;
  padding: 1.8em;
  max-width: 95%;
  }
.portfoliowrapper{
	padding: 1.8em;
	max-width:95%;	
}
[class*="col-"] {
  padding: 0.833em;
  width: 100%;
  }
  .portfolioline{
	display: flex;
	flex-flow: row wrap;
	margin-left: 2.4em;
	width:50%;
}
.portfolioline:hover{
  color:$altyellow;
  z-index: 1000;
}
img {
  max-width:80%;
  }
h2{
	text-align:left;
  }
body{
	text-align:left;
  }
[class*="row"] {
  display: flex;
  flex-flow: row wrap;
  margin:1.8em;
  width:100%;
  }
#navbar{
	font-size:0.8em;
}
.img2 {
	display:block;
	max-width:600px;
	border-radius: 9%;	
}
@media all and ( min-width: 55em ) {
  /* set col widths */
.column66 {
    width: 66.66%;
  }
.column50 {
    width: 50%;
  }
.portfolioline{
	display: flex;
	flex-flow: row wrap;
	margin-left: 2.4em;
	width:20%;
	margin-bottom: 3.6em;
}
.portfolioline:hover{
 @include border-bottom-hover;
 z-index:1000;
}
.column33 {
	display:flex;
    width: 33.33%;
    max-width:100%; /*added so that the image is actually responsive in Firefox & IE*/
	min-width:0px;
	align-items:center;
  }
.column33 .img {
	max-width:100%;
}
.column25 {
    width: 25%;
  }
  
}
.img2 {
	display:block;
	max-width:600px;
	border-radius: 9%;	
}
}

@media all and ( min-width: 78em ) { /* allows for 5 width grid */
  /* set col widths */
  
.column20 {
    width: 20%;
  }
.img2 {
	display:block;
	max-width:600px;
	border-radius: 9%;	
}
[class*="col-"] {
  padding: 1.2em;
  }
.column66 {
  padding-right:10.699em;
  }
}