/*Variables included at the start of the screen.scss file*/

$font-stackbody: 'Slabo 27px', serif;
$font-stackalt: 'Open Sans', sans-serif;
$backgroundcolour: linear-gradient( 45deg, #5b4f6a, #54606a );
$textcolour: #fff;
$altyellow: #ffed7f;
$highlight:#87cefa;
$embase:1.2em;