/*Variables included at the start of the screen.scss file*/

$font-stackbody: 'Slabo 27px', serif;
$font-stackalt: 'Open Sans', sans-serif;
$backgroundcolour: linear-gradient( 45deg, #5b4f6a, #54606a );
$textcolour: #fff;
$altyellow: #ffed7f;
$highlight:#87cefa;
$embase:1.2em;
@mixin border-bottom-hover($pixel:1px){
	border-bottom: solid rgba(192, 192, 192, 1)$pixel;
	-webkit-transition: border 500ms ease;
	-moz-transition: border 500ms ease;
	-ms-transition: border 500ms ease;
	-o-transition: border 500ms ease;
	transition: border 500ms ease; 
	}