/* State Styles */
/* Hint: JavaScript-based styles: .nojs, .js, .is-active, .is-hidden */
/* Within state, repeat the base, layout, and modular structure: */

.nav1   {
display: none;
}
.nav2{
display: none;
}
.nav3{
display: none;
}
.nav4{
display: none;
}

.noscript .nav1{
display:block;
}
.noscript .nav2{
display:block;
}
.noscript .nav3{
display:block;
}
.noscript .nav4{
display:block;
}

.noscript .navjs1{
	display:none;
}
.noscript .navjs2{
	display:none;
}
.noscript .navjs3{
	display:none;
}
.noscript .navjs4{
	display:none;
}

[class*="nav"]:hover{
@include border-bottom-hover;
}

[class*="navjs"]:hover{
@include border-bottom-hover;
}


